@import '../fonts.css';
.homepage {
    background-color: black;
    color: white;
    min-height: 100vh;
    font-family: EvilEmpire, sans-serif;
  }
  
  .navbar-custom {
    background-color: #2D3B41 !important;
  }
  
  .navbar-brand-custom {
    color: #ffffff !important;
  }
  
  .nav-link-custom {
    color: #ffffff !important;
  }
  
  .search-form-custom {
    display: flex;
  }
  
  .search-input-custom {
    margin-right: 0.5rem;
  }
  
  .welcome-section {
    margin-top: 5rem;
    padding-bottom: 40px;
    font-family: EvilEmpire, sans-serif;
  }
  
  .welcome-title {
    font-size: 4.5rem;
    font-weight: bold;
  }
  
  .welcome-text {
    font-size: 1.25rem;
  }
  .navbar-custom{
    font-family: 'EvilEmpire', sans-serif;
  }